body {
			background-image: url("../IMAGES/[-chuuuch-]-gif.gif");
			background-repeat: repeat;
			background-position: center top;}


.menu {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 0px;
			height: 0px;
			padding-bottom: 0px;}

.wrapper {
					display: flex;
					flex-direction: column;
					align-items: center;


}
.parent {
					display: flex;
					flex-direction: column;
					float: right;
					align-items: center;
					max-width: 75%;
					max-height: 100%;
					background-color: #fff
}


.child {
				flex-shrink: auto;


}

.child img {
						width: 100%;
						height:auto;
						flex-grow: 1;
}

.success {
					position: fixed;
					bottom: 0px;
					right: 0px;
					width: 175px;
					padding-bottom: 0px;}
